{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container-fluid" id="content"></div>
{% endblock %}
{% block script %}
  {% parent %}
    <script type="text/jsx">
      /** @jsx React.DOM */

      var sidebar_left;

      var Header = React.createClass({
        handleUserClick: function(event) {
          sidebar_left = !sidebar_left;
          if (sidebar_left) {
            $( ".sidebar-left" ).show();
          } else {
            $( ".sidebar-left" ).hide();
          }
        },
        render: function() {
          return (
              <div className='row header'>
              <div className='user'>
                <span className='user-btn glyphicon glyphicon-user' onClick={this.handleUserClick}></span>
                <span className='header-text'><a>Log In</a></span>
                <span className='header-text'><a>Sign Up</a></span>
              </div>
              <div className='globe'>
                <span className='globe-btn glyphicon glyphicon-globe'></span>
                <span className='header-text'>
                  <a href={'/author/{{ id }}'}>{{ author }}</a>
                </span>
              </div>
            </div>
          );
        }
      });

      var SidebarLeft = React.createClass({
        render: function() {
          return (
            <div className='sidebar-left sidebar'>
              <ul>
                <li className='create-mission-btn'>
                  <span className='glyphicon glyphicon-plus'></span>
                </li>
              </ul>
            </div>
          );
        }
      });

      var AuthorPage = React.createClass({
        render: function() {
          var imgUrl = '/images/city.jpg'
          var cityStyle = {
            backgroundImage: 'url(' + imgUrl + ')'
          };
          return (
            <div>
              <Header />
              <div className='row'>
                <SidebarLeft />
                <div style={cityStyle} alt="city" className='city-image'></div>
              </div>
            </div>
          );
        }
      });

      React.renderComponent(<AuthorPage />, document.getElementById('content'));
      
    </script>
{% endblock %}
