{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row header">
    <div class="user">
      <span class="glyphicon glyphicon-user"></span>
      <span class="header-text">User Name</span>
    </div>
    <div class="globe">
      <span class="globe-btn glyphicon glyphicon-globe"></span>
      <span class="header-text">Austin / Texas</span>
    </div>
  </div>
  <div class="row">

    <div class="sidebar-left sidebar">
      <ul>
        <li class="create-mission-btn">
          <span class="glyphicon glyphicon-plus"></span>
        </li>
      </ul>
    </div>
    <div class="col-sm-offset-1 col-md-offset-1 col-md-10 col-sm-10 main">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        Add to a Mission
      </button>
      <div class="objectives table-responsive">
        <table id="objectives" class="table">
          <thead>
            <tr>
              <th>
                <span>Objectives</span>
              </th>
              <th class="stats">
                <span class="glyphicon glyphicon-ok"></span>
              </th>
              <th class="stats">
                <span class="glyphicon glyphicon-heart"></span>
              </th>
              <th>
                <span class="glyphicon glyphicon-plus"></span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="objective">
                <span class="objective-action glyphicon glyphicon-ok"></span>
                <span class="objective-action glyphicon glyphicon-heart"></span>
                Lorem ipsum dolor sit amet
              </td>
              <td>120</td>
              <td>100</td>
              <td><input type="checkbox"></td>
            </tr>
            <tr>
              <td class="objective">
                <span class="objective-action glyphicon glyphicon-ok"></span>
                <span class="objective-action glyphicon glyphicon-heart"></span>
                Donec in imperdiet massa
              </td>
              <td>110</td>
              <td>130</td>
              <td><input type="checkbox"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="sidebar-right sidebar">
      <ul>
        <li class="create-objective-btn">
          <span class="glyphicon glyphicon-plus"></span>
        </li>
      </ul>
    </div>

    <div class="create-mission">
      <span class="cancel-mission-btn glyphicon glyphicon-remove"></span>
      <div class="container">
        <div class="row">
          <h2>Create New Mission</h2>
        </div>
        <div class="row">
          <input class="form-control input-lg" type="text" placeholder="Mission Name">
          <button type="button" class="btn btn-default btn-lg">Create Mission</button>
        </div>
      </div>
    </div>

    <div class="create-objective">
      <span class="cancel-objective-btn glyphicon glyphicon-remove"></span>
      <div class="container">
        <div class="row">
          <h2>Create New Objective</h2>
        </div>
        <div class="row">
          <form id="objectiveForm">
            <input class="form-control input-lg" name="n" type="text" placeholder="Objective">
            <button id="newObjective" type="button" class="btn btn-default btn-lg">Create Objective</button>
          </form>
        </div>
      </div>
    </div>



  </div>
</div>
{% endblock %}
{% block script %}
  {% parent %}
{% endblock %}
