{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container-fluid" id="content"></div>
{% endblock %}
{% block script %}
  {% parent %}
    <script type="text/jsx">
      /** @jsx React.DOM */

      var sidebar_left;

      var Header = React.createClass({
        handleUserClick: function(event) {
          sidebar_left = !sidebar_left;
          if (sidebar_left) {
            $( ".sidebar-left" ).show();
          } else {
            $( ".sidebar-left" ).hide();
          }
        },
        render: function() {
          return (
              <div className='row header'>
              <div className='user'>
                <span className='user-btn glyphicon glyphicon-user' onClick={this.handleUserClick}></span>
                <span className='header-text'>User Name</span>
              </div>
              <CurrentCity url="/api/1/getCity/1" pollInterval={1000 * 60} />
            </div>
          );
        }
      });

      var CurrentCity = React.createClass({
        loadCityFromServer: function() {
          $.ajax({
            url: this.props.url,
            dataType: 'json',
            success: function(data) {
              this.setState({data: data});
            }.bind(this),
            error: function(xhr, status, err) {
              console.error(this.props.url, status, err.toString());
            }.bind(this)
          });
        },
        getInitialState: function() {
          return {data: []};
        },
        componentDidMount: function() {
          this.loadCityFromServer();
          setInterval(this.loadCityFromServer, this.props.pollInterval);
        },
        render: function() {
          return (
            <div className='globe'>
              <span className='globe-btn glyphicon glyphicon-globe'></span>
              <span className='header-text'>
                <a>
                  {this.state.data.city}
                </a>
              </span>
            </div>
          );
        }
      });

      var CityLink = React.createClass({
        render: function() {
          console.log(this.props.data);
          var cityItem = this.props.data.map(function(city) {
            return (
              <a key={city.id}>
                {city.city}
              </a>
            );
          });
          return (
            <span className='header-text'>
              {cityItem}
            </span>
          );
        }
      });

      var SidebarLeft = React.createClass({
        render: function() {
          return (
            <div className='sidebar-left sidebar'>
              <ul>
                <li className='create-mission-btn'>
                  <span className='glyphicon glyphicon-plus'></span>
                </li>
              </ul>
            </div>
          );
        }
      });

      var ObjectiveTable = React.createClass({
        loadObjectivesFromServer: function() {
          $.ajax({
            url: this.props.url,
            dataType: 'json',
            success: function(data) {
              this.setState({data: data});
            }.bind(this),
            error: function(xhr, status, err) {
              console.error(this.props.url, status, err.toString());
            }.bind(this)
          });
        },
        getInitialState: function() {
          return {data: []};
        },
        componentDidMount: function() {
          this.loadObjectivesFromServer();
          setInterval(this.loadObjectivesFromServer, this.props.pollInterval);
        },
        render: function() {
          return (
            <div className='col-sm-offset-1 col-md-offset-1 col-md-10 col-sm-10 main'>
              <div className='objectives table-responsive'>
                <table className='table'>
                  <thead>
                    <tr>
                      <th>
                        <span>Objectives</span>
                      </th>
                      <th>
                        <span className='glyphicon glyphicon-ok'></span>
                      </th>
                      <th>
                        <span className='glyphicon glyphicon-heart'></span>
                      </th>
                    </tr>
                  </thead>
                    <ObjectiveList data={this.state.data} />
                </table>
              </div>
            </div>
          );
        }
      });

      var ObjectiveList = React.createClass({
        render: function() {
          var objectiveItem = this.props.data.map(function(objective) {
            return (
              <tr key={objective.id}>
                <td>{objective.name}</td>
                <td>0</td>
                <td>0</td>
              </tr>
            );
          });
          return (
            <tbody>
              {objectiveItem}
            </tbody>
          );
        }
      });

      var CityPage = React.createClass({
        render: function() {
          var imgUrl = '/images/city.jpg'
          var cityStyle = {
            backgroundImage: 'url(' + imgUrl + ')',
            height: '400px',
            width: '100%',
            backgroundPosition: 'center',
            /* Make the background image cover the area of the <div>, and clip the excess */
            backgroundSize: 'cover'
          };
          return (
            <div>
              <Header />
              <div className='row'>
                <SidebarLeft />
                <div style={cityStyle} alt="city" className='city-image'></div>
                <ObjectiveTable url="/api/1/getObjective" pollInterval={1000 * 60} />
              </div>
            </div>
          );
        }
      });

      React.renderComponent(<CityPage />, document.getElementById('content'));
      
    </script>
{% endblock %}
