{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container-fluid" id="content"></div>
{% endblock %}
{% block script %}
  {% parent %}
    <script type="text/jsx">
      /** @jsx React.DOM */

      var sidebar_right;

      var Header = React.createClass({
        handleSidebarRightClick: function(event) {
          sidebar_right = !sidebar_right;
          if (sidebar_right) {
            $( ".sidebar-right" ).show();
          } else {
            $( ".sidebar-right" ).hide();
          }
        },
        render: function() {
          return (
              <div className='row header'>
              <div className='user'>
                {% if user %}
                <i className="sidebar-left-btn fa fa-user" onClick={this.handleSidebarLeftClick}></i>
                <span className='header-text'>{{ user.username }}</span>
                {% else %}
                <i className="fa fa-user"></i>
                <span className='header-text'><a href='/login'>Log In</a></span>
                <span className='header-text'><a href='/signup'>Sign Up</a></span>
                {% endif %}
              </div>
              <div className='globe'>
                <i className='sidebar-right-btn fa fa-globe' onClick={this.handleSidebarRightClick}></i>
                <span className='header-text'><a href={'/location/state/{{ state_id }}'}>{{ state }}</a></span>
                <span className='header-text'>/</span>
                <span className='header-text'><a href={'/location/city/{{ city_id }}'}>{{ city }}</a></span>
                <span className='header-text'>/</span>
                <span className='header-text'><a href={'/objective/{{ objective_id }}'}>{{ objective }}</a></span>
                <span className='header-text'>/</span>
                <span className='header-text'><a href={'/journal/{{ id }}'}>{{ journal }}</a></span>
              </div>
            </div>
          );
        }
      });

      var SidebarRight = React.createClass({
        render: function() {
          return (
            <div>
              <div className='sidebar-right sidebar'>
                <ul>
                  <li className='sidebar-title'>
                    <span>List</span>
                  </li>
                  <li>
                    <a href='/list/city'>
                      <i className='sidebar-btn fa fa-globe'></i>
                      <span className='header-text'>
                        All Cities
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href='/list/state'>
                      <i className='sidebar-btn fa fa-globe'></i>
                      <span className='header-text'>
                        All States
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          );
        }
      });

      var JournalContent = React.createClass({
        render: function() {
          return (
            <div className='main col-md-offset-6 col-sm-offset-6 col-md-6 col-sm-6'>
              <h3>{{ journal }}</h3>
              <h5>by <a href={'/author/{{ author }}'}>{{ author }}</a></h5>
              <div>
                <span className='journal-highlight'>
                  <span>{{ journal_entry }}</span>
                </span>
              </div>
            </div>
          );
        }
      });

      var JournalPage = React.createClass({
        render: function() {
          var imgUrl = '/images/city.jpg'
          var cityStyle = {
            backgroundImage: 'url(' + imgUrl + ')'
          };
          return (
            <div>
              <Header />
              <div className='row'>
                <div style={cityStyle} alt="city" className='city-image-split col-md-6 col-sm-6'></div>
                <JournalContent />
                <SidebarRight />
              </div>
            </div>
          );
        }
      });

      React.renderComponent(<JournalPage />, document.getElementById('content'));
      
    </script>
{% endblock %}
