<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}M.E.{% endblock %}</title>

  {% block head %}
    <script src="https://fb.me/react-0.11.2.js"></script>
    <script src="https://fb.me/JSXTransformer-0.11.2.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.1/js/jquery.dataTables.js"></script>
    <script src="/javascripts/bounce.min.js"></script>
    <script src="/javascripts/script.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/stylesheets/style.css" rel="stylesheet">
  {% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  {% block script %}

  {% endblock %}
</body>
</html>
