{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container-fluid" id="content"></div>
{% endblock %}
{% block script %}
  {% parent %}
    <script type="text/jsx">
      /** @jsx React.DOM */

      var sidebar_right;
      var sidebar_left;

      var Header = React.createClass({
        handleSidebarRightClick: function(event) {
          sidebar_right = !sidebar_right;
          if (sidebar_right) {
            $( ".sidebar-right" ).show();
          } else {
            $( ".sidebar-right" ).hide();
          }
        },
        handleSidebarLeftClick: function(event) {
          sidebar_left = !sidebar_left;
          if (sidebar_left) {
            $( ".sidebar-left" ).show();
          } else {
            $( ".sidebar-left" ).hide();
          }
        },
        handleNewMissionClick: function(event) {

          $( ".new-mission-panel" ).show();

        },
        render: function() {
          return (
              <div className='row header'>
              <div className='user'>
                {% if user %}
                <i className="sidebar-left-btn fa fa-user" onClick={this.handleSidebarLeftClick}></i>
                <span className='header-text'>{{ user.username }}</span>
                <button className="create-btn btn btn-default" onClick={this.handleNewMissionClick}>New Mission</button>
                {% else %}
                <i className="fa fa-user"></i>
                <span className='header-text'><a href='/login'>Log In</a></span>
                <span className='header-text'><a href='/signup'>Sign Up</a></span>
                {% endif %}
              </div>
              <div className='globe'>
                <i className='sidebar-right-btn fa fa-globe' onClick={this.handleSidebarRightClick}></i>
                <span className='header-text'>
                  {% if by == 'city' %} All Cities {% else %} All States {% endif %}
                </span>
              </div>
            </div>
          );
        }
      });

      var SidebarRight = React.createClass({
        render: function() {
          var location;
          var location_href;
          if ('{{ by }}' == 'city') {
            location = 'All States';
            location_href = '/list/state';
          } else {
            location = 'All Cities';
            location_href = '/list/city';
          }
          return (
            <div className='sidebar-right sidebar'>
              <ul>
                <li className='sidebar-title'>
                  <span>List</span>
                </li>
                <li>
                  <a href={location_href}>
                    <i className='sidebar-btn fa fa-globe'></i>
                    <span className='header-text'>
                      {location}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          );
        }
      });

      var SidebarLeft = React.createClass({
        render: function() {
          return (
            <div className='sidebar-left sidebar'>
              <ul>
                <li className='sidebar-title'>
                  <span>Profile</span>
                </li>
                <li>
                  <a href='/author/{{ user.username }}/stats'>
                    <i className='sidebar-btn fa fa-bar-chart'></i>
                    <span className='header-text'>Stats</span>
                  </a>
                </li>
                <li>
                  <a href='/author/{{ user.username }}/journals'>
                    <i className='sidebar-btn fa fa-book'></i>
                    <span className='header-text'>Journals</span>
                  </a>
                </li>
                <li>
                  <a href='/author/{{ user.username }}/missions'>
                    <i className='sidebar-btn fa fa-rocket'></i>
                    <span className='header-text'>Missions</span>
                  </a>
                </li>
              </ul>
              <ul>
                <li className='sidebar-title'>
                  <span>Account</span>
                </li>
                <li>
                  <a href='/account'>
                    <i className='sidebar-btn fa fa-cog'></i>
                    <span className='header-text'>Settings</span>
                  </a>
                </li>
                <li>
                  <a href='/logout'>
                    <i className='sidebar-btn fa fa-sign-out'></i>
                    <span className='header-text'>Log Out</span>
                  </a>
                </li>
              </ul>
            </div>
          );
        }
      });

      var NewMissionPanel = React.createClass({
        handleClick: function(event) {
          $( ".new-mission-panel" ).hide();
          $('form').find("input[type=text]").val("");
        },
        render: function() {
          return (
            <div className='new-mission-panel clear-form col-sm-offset-4 col-md-offset-4 col-md-4 col-sm-4'>
              {% for message in messages %}
              <div className="alert alert-danger" role="alert">{{ message }}</div>
              {% endfor %}
              <form action="/api/1/addMission/{{ user.username }}" method="post" role="form">
                <div className="form-group">
                  <label>Mission Title</label>
                  <input type="text" className="form-control" name="title" placeholder="Mission Impossible" />
                </div>
                <button type="submit" className="btn btn-success">Create New Mission</button>
                <div className="btn btn-danger" onClick={this.handleClick}>Cancel</div>
              </form>
            </div>
          );
        }
      });

      var ListTable = React.createClass({
        loadListFromServer: function() {
          $.ajax({
            url: this.props.url,
            dataType: 'json',
            success: function(data) {
              this.setState({data: data});
            }.bind(this),
            error: function(xhr, status, err) {
              console.error(this.props.url, status, err.toString());
            }.bind(this)
          });
        },
        getInitialState: function() {
          return {data: []};
        },
        componentDidMount: function() {
          this.loadListFromServer();
        },
        render: function() {
          return (
            <div className='col-sm-offset-1 col-md-offset-1 col-md-10 col-sm-10 main'>
              <div className='table-responsive'>
                <table className='table'>
                  <thead>
                    <tr>
                      <th>
                        <span>{{ by | capitalize}}</span>
                      </th>
                      <th>
                        <span>Objectives</span>
                      </th>
                      <th>
                        <span>Journals</span>
                      </th>
                      <th>
                        <span>Missions</span>
                      </th>
                    </tr>
                  </thead>
                    <List data={this.state.data} />
                </table>
              </div>
            </div>
          );
        }
      });

      var List = React.createClass({
        render: function() {
          var listItem = this.props.data.map(function(listitem) {
            return (
              <tr key={listitem.id}>
                <td><a href={'/location/{{ by }}/' + listitem.id}>{listitem.name}</a></td>
                <td>{listitem.objectives}</td>
                <td>{listitem.journals}</td>
                <td>{listitem.missions}</td>
              </tr>
            );
          });
          return (
            <tbody>
              {listItem}
            </tbody>
          );
        }
      });

      var ListPage = React.createClass({
        render: function() {
          var imgUrl = '/images/city.jpg'
          var cityStyle = {
            backgroundImage: 'url(' + imgUrl + ')'
          };
          return (
            <div>
              <Header />
              <div className='row'>
                <NewMissionPanel />
                <SidebarRight />
                <SidebarLeft />
                <div style={cityStyle} alt="city" className='city-image'></div>
                <ListTable url="/api/1/getList/{{ by }}" />
              </div>
            </div>
          );
        }
      });

      React.renderComponent(<ListPage />, document.getElementById('content'));
      
    </script>
{% endblock %}
