{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container-fluid" id="content"></div>
{% endblock %}
{% block script %}
  {% parent %}
    <script type="text/jsx">
      /** @jsx React.DOM */

      var sidebar_right;

      var Header = React.createClass({
        handleSidebarRightClick: function(event) {
          sidebar_right = !sidebar_right;
          if (sidebar_right) {
            $( ".sidebar-right" ).show();
          } else {
            $( ".sidebar-right" ).hide();
          }
        },
        render: function() {
          return (
              <div className='row header'>
              <div className='user'>
                <span className='glyphicon glyphicon-user'></span>
                <span className='header-text'><a>Log In</a></span>
                <span className='header-text'><a>Sign Up</a></span>
              </div>
              <div className='globe'>
                <i className='sidebar-right-btn fa fa-globe' onClick={this.handleSidebarRightClick}></i>
                <span className='header-text'>
                  {% if by == 'city' %}<a href={'/location/city/{{ city_id }}'}>{{ city }} / </a>{% endif %}
                  <a href={'/location/state/{{ state_id }}'}>{{ state }}</a>
                </span>
              </div>
            </div>
          );
        }
      });

      var SidebarRight = React.createClass({
        handleClick: function(i) {
          $('.display-list li a').removeClass('display-current');
          $('#display' + this.props.display[i]).addClass('display-current');
          this.setState({
            display_page: this.props.display[i]
          });
        },
        getInitialState: function() {
          return {
            objective_url: "/api/1/getObjective/{{ by }}/{{ id }}",
            journal_url: "/api/1/getJournal/{{ by }}/{{ id }}",
            mission_url: "/api/1/getMissionObjectives/{{ by }}/{{ id }}",
            display_page: "Objectives"
          };
        },
        render: function() {
          return (
            <div>
              <div className='sidebar-right sidebar'>
                <ul>
                  <li>
                    <span className='sidebar-title'>List</span>
                  </li>
                  <li>
                    <a href='/list/city'>
                      <i className='sidebar-btn fa fa-globe'></i>
                      <span className='header-text'>
                        All Cities
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href='/list/state'>
                      <i className='sidebar-btn fa fa-globe'></i>
                      <span className='header-text'>
                        All States
                      </span>
                    </a>
                  </li>
                </ul>
                <ul className='display-list'>
                  <li>
                    <span className='sidebar-title'>Display</span>
                  </li>
                  {this.props.display.map(function(item, i) {
                    var icon_class;
                    var displayed;
                    if (item == 'Objectives') {
                      icon_class = 'fa-dot-circle-o';
                      displayed = 'display-current';
                    } else if (item == 'Journals') {
                      icon_class = 'fa-book';
                    } else {
                      icon_class = 'fa-rocket';
                    }
                    return (
                      <li>
                        <a className={displayed} id={'display' + item} onClick={this.handleClick.bind(this, i)} key={i} >
                          <i className={'sidebar-btn fa ' + icon_class}></i>
                          <span className='header-text'>
                            {item}
                          </span>
                        </a>
                      </li>
                    );
                  }, this)}
                </ul>
              </div>
              <Table display_page={this.state.display_page} objective_url={this.state.objective_url} journal_url={this.state.journal_url} mission_url={this.state.mission_url} />
            </div>
          );
        }
      });

      var Table = React.createClass({
        loadDataFromServer: function() {
          $.ajax({
            url: this.props.objective_url,
            dataType: 'json',
            success: function(objectives) {
              this.setState({objectives: objectives});
            }.bind(this),
            error: function(xhr, status, err) {
              console.error(this.props.objective_url, status, err.toString());
            }.bind(this)
          });
          $.ajax({
            url: this.props.journal_url,
            dataType: 'json',
            success: function(journals) {
              this.setState({journals: journals});
            }.bind(this),
            error: function(xhr, status, err) {
              console.error(this.props.journal_url, status, err.toString());
            }.bind(this)
          });
          $.ajax({
            url: this.props.mission_url,
            dataType: 'json',
            success: function(missions) {
              this.setState({missions: missions});
            }.bind(this),
            error: function(xhr, status, err) {
              console.error(this.props.mission_url, status, err.toString());
            }.bind(this)
          });
        },
        getInitialState: function() {
          return {
            objectives: [],
            journals: [],
            missions: [],
            display_page: this.props.display_page
          };
        },
        componentDidMount: function() {
          this.loadDataFromServer();
        },
        render: function() {
          var displayList;
          if (this.props.display_page == 'Objectives') {
            displayList = <ObjectiveList data={this.state.objectives} />;
          } else if (this.props.display_page == 'Journals') {
            displayList = <JournalList data={this.state.journals} />;
          } else {
            displayList = <MissionList data={this.state.missions} />;
          }
          return (
            <div className='col-sm-offset-1 col-md-offset-1 col-md-10 col-sm-10 main'>
              <div className='table-responsive'>
                {displayList}
              </div>
            </div>
          );
        }
      });

      var ObjectiveList = React.createClass({
        render: function() {
          var objectiveItem = this.props.data.map(function(objective) {
            return (
              <tr key={objective.id}>
                <td><a href={'/objective/' + objective.objective_id}>{objective.objective}</a></td>
                {% if by != 'city' %}<td><a href={'/location/city/' + objective.city_id}>{objective.city}</a></td>{% endif %}
                <td>{objective.objective_journal_cnt}</td>
                <td>{objective.objective_mission_cnt}</td>
                <td>0</td>
                <td>0</td>
              </tr>
            );
          });
          return (
            <table className='table'>
              <thead>
                <tr>
                  <th><span>Objective</span></th>
                  {% if by != 'city' %} <th><span>City</span></th>{% endif %}
                  <th><span>Journals</span></th>
                  <th><span>Missions</span></th>
                  <th><span className='glyphicon glyphicon-ok'></span></th>
                  <th><span className='glyphicon glyphicon-heart'></span></th>
                </tr>
              </thead>
              <tbody>
                {objectiveItem}
              </tbody>
            </table>
          );
        }
      });

      var JournalList = React.createClass({
        render: function() {
          var journalItem = this.props.data.map(function(journal) {
            return (
              <tr key={journal.id}>
                <td><a href={'/journal/' + journal.journal_id}>{journal.journal}</a></td>
                <td><a href={'/objective/' + journal.objective_id}>{journal.objective}</a></td>
                <td><a href={'/author/' + journal.author_id}>{journal.author}</a></td>
                {% if by != 'city' %}<td><a href={'/location/city/' + journal.city_id}>{journal.city}</a></td>{% endif %}
              </tr>
            );
          });
          return (
            <table className='table'>
              <thead>
                <tr>
                  <th><span>Journal</span></th>
                  <th><span>Objective</span></th>
                  <th><span>Author</span></th>
                  {% if by != 'city' %} <th><span>City</span></th>{% endif %}
                </tr>
              </thead>
              <tbody>
                {journalItem}
              </tbody>
            </table>
          );
        }
      });

      var MissionList = React.createClass({
        render: function() {
          var missionItem = this.props.data.map(function(mission) {
            return (
              <tr key={mission.id}>
                <td><a href={'/mission/' + mission.mission_id}>{mission.mission}</a></td>
                <td><a href={'/author/' + mission.author_id}>{mission.author}</a></td>
                <td><a href={'/objective/' + mission.objective_id}>{mission.objective}</a></td>
                {% if by != 'city' %}<td><a href={'/location/city/' + mission.city_id}>{mission.city}</a></td>{% endif %}
                <td>{mission.missionobjective_journal_cnt}</td>
              </tr>
            );
          });
          return (
            <table className='table'>
              <thead>
                <tr>
                  <th><span>Mission</span></th>
                  <th><span>Author</span></th>
                  <th><span>Objective</span></th>
                  {% if by != 'city' %} <th><span>City</span></th>{% endif %}
                  <th><span>Journals</span></th>
                </tr>
              </thead>
              <tbody>
                {missionItem}
              </tbody>
            </table>
          );
        }
      });

      var LocationPage = React.createClass({
        render: function() {
          var imgUrl = '/images/city.jpg'
          var cityStyle = {
            backgroundImage: 'url(' + imgUrl + ')',
            height: '500px',
            width: '100%',
            backgroundPosition: 'center',
            /* Make the background image cover the area of the <div>, and clip the excess */
            backgroundSize: 'cover'
          };
          return (
            <div>
              <Header />
              <div className='row'>
                <div style={cityStyle} alt="city" className='city-image'></div>
                <SidebarRight display={['Objectives', 'Journals', 'Missions']}/>
              </div>
            </div>
          );
        }
      });

      React.renderComponent(<LocationPage />, document.getElementById('content'));
      
    </script>
{% endblock %}
