{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container-fluid" id="content"></div>
{% endblock %}
{% block script %}
  {% parent %}
    <script type="text/jsx">
      /** @jsx React.DOM */

      var sidebar_left;

      var Header = React.createClass({
        handleUserClick: function(event) {
          sidebar_left = !sidebar_left;
          if (sidebar_left) {
            $( ".sidebar-left" ).show();
          } else {
            $( ".sidebar-left" ).hide();
          }
        },
        render: function() {
          return (
              <div className='row header'>
              <div className='user'>
                <span className='user-btn glyphicon glyphicon-user' onClick={this.handleUserClick}></span>
                <span className='header-text'><a>Log In</a></span>
                <span className='header-text'><a>Sign Up</a></span>
              </div>
              <div className='globe'>
                <span className='globe-btn glyphicon glyphicon-globe'></span>
                <span className='header-text'>
                  <a href={'/mission/{{ id }}'}>{{ mission }}</a>
                </span>
              </div>
            </div>
          );
        }
      });

      var SidebarLeft = React.createClass({
        render: function() {
          return (
            <div className='sidebar-left sidebar'>
              <ul>
                <li className='create-mission-btn'>
                  <span className='glyphicon glyphicon-plus'></span>
                </li>
              </ul>
            </div>
          );
        }
      });

      var ObjectiveTable = React.createClass({
        loadObjectivesFromServer: function() {
          $.ajax({
            url: this.props.url,
            dataType: 'json',
            success: function(data) {
              this.setState({data: data});
            }.bind(this),
            error: function(xhr, status, err) {
              console.error(this.props.url, status, err.toString());
            }.bind(this)
          });
        },
        getInitialState: function() {
          return {data: []};
        },
        componentDidMount: function() {
          this.loadObjectivesFromServer();
        },
        render: function() {
          return (
            <div className='col-sm-offset-1 col-md-offset-1 col-md-10 col-sm-10 main'>
              <div className='table-responsive'>
                <table className='table'>
                  <thead>
                    <tr>
                      <th>
                        <span>Objective</span>
                      </th>
                      <th>
                        <span>City</span>
                      </th>
                      <th>
                        <span>State</span>
                      </th>
                      <th>
                        <span>Journals</span>
                      </th>
                    </tr>
                  </thead>
                    <ObjectiveList data={this.state.data} />
                </table>
              </div>
            </div>
          );
        }
      });

      var ObjectiveList = React.createClass({
        render: function() {
          var objectiveItem = this.props.data.map(function(objective) {
            return (
              <tr key={objective.id}>
                <td><a href={'/objective/' + objective.objective_id}>{objective.objective}</a></td>
                <td><a href={'/location/city/' + objective.city_id}>{objective.city}</a></td>
                <td><a href={'/location/state/' + objective.state_id}>{objective.state}</a></td>
                <td>{objective.missionobjective_journal_cnt}</td>
              </tr>
            );
          });
          return (
            <tbody>
              {objectiveItem}
            </tbody>
          );
        }
      });

      var MissionPage = React.createClass({
        render: function() {
          var imgUrl = '/images/city.jpg'
          var cityStyle = {
            backgroundImage: 'url(' + imgUrl + ')',
            height: '400px',
            width: '100%',
            backgroundPosition: 'center',
            /* Make the background image cover the area of the <div>, and clip the excess */
            backgroundSize: 'cover'
          };
          return (
            <div>
              <Header />
              <div className='row'>
                <SidebarLeft />
                <div style={cityStyle} alt="city" className='city-image'></div>
                <ObjectiveTable url="/api/1/getMissionObjectives/{{ id }}" />
              </div>
            </div>
          );
        }
      });

      React.renderComponent(<MissionPage />, document.getElementById('content'));
      
    </script>
{% endblock %}
