{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container-fluid" id="content"></div>
{% endblock %}
{% block script %}
  {% parent %}
    <script type="text/jsx">
      /** @jsx React.DOM */

      var sidebar_right;

      var Header = React.createClass({
        handleSidebarRightClick: function(event) {
          sidebar_right = !sidebar_right;
          if (sidebar_right) {
            $( ".sidebar-right" ).show();
          } else {
            $( ".sidebar-right" ).hide();
          }
        },
        render: function() {
          return (
              <div className='row header'>
              <div className='user'>
                {% if user %}
                <i className="sidebar-left-btn fa fa-user" onClick={this.handleSidebarLeftClick}></i>
                <span className='header-text'>{{ user.username }}</span>
                {% else %}
                <i className="fa fa-user"></i>
                <span className='header-text'><a href='/login'>Log In</a></span>
                <span className='header-text'><a href='/signup'>Sign Up</a></span>
                {% endif %}
              </div>
              <div className='globe'>
                <i className='sidebar-right-btn fa fa-globe' onClick={this.handleSidebarRightClick}></i>
                <span className='header-text'><a href={'/mission/{{ id }}'}>{{ mission }}</a></span>
              </div>
            </div>
          );
        }
      });

      var SidebarRight = React.createClass({
        handleClick: function(i) {
          $('.display-list li a').removeClass('display-current');
          $('#display' + this.props.display[i]).addClass('display-current');
          this.setState({
            display_page: this.props.display[i]
          });
        },
        getInitialState: function() {
          return {
            objective_url: "/api/1/getMissionObjectives/{{ by }}/{{ id }}",
            journal_url: "/api/1/getMissionJournals/{{ by }}/{{ id }}",
            display_page: "Objectives"
          };
        },
        render: function() {
          return (
            <div>
              <div className='sidebar-right sidebar'>
                <ul>
                  <li className='sidebar-title'>
                    <span>List</span>
                  </li>
                  <li>
                    <a href='/list/city'>
                      <i className='sidebar-btn fa fa-globe'></i>
                      <span className='header-text'>
                        All Cities
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href='/list/state'>
                      <i className='sidebar-btn fa fa-globe'></i>
                      <span className='header-text'>
                        All States
                      </span>
                    </a>
                  </li>
                </ul>
                <ul className='display-list'>
                  <li className='sidebar-title'>
                    <span>Display</span>
                  </li>
                  {this.props.display.map(function(item, i) {
                    var icon_class;
                    var displayed;
                    if (item == 'Objectives') {
                      icon_class = 'fa-dot-circle-o';
                      displayed = 'display-current';
                    } else {
                      icon_class = 'fa-book';
                    }
                    return (
                      <li>
                        <a className={displayed} id={'display' + item} onClick={this.handleClick.bind(this, i)} key={i} >
                          <i className={'sidebar-btn fa ' + icon_class}></i>
                          <span className='header-text'>
                            {item}
                          </span>
                        </a>
                      </li>
                    );
                  }, this)}
                </ul>
              </div>
              <Table display_page={this.state.display_page} objective_url={this.state.objective_url} journal_url={this.state.journal_url} />
            </div>
          );
        }
      });

      var Table = React.createClass({
        loadDataFromServer: function() {
          $.ajax({
            url: this.props.objective_url,
            dataType: 'json',
            success: function(objectives) {
              this.setState({objectives: objectives});
            }.bind(this),
            error: function(xhr, status, err) {
              console.error(this.props.objective_url, status, err.toString());
            }.bind(this)
          });
          $.ajax({
            url: this.props.journal_url,
            dataType: 'json',
            success: function(journals) {
              this.setState({journals: journals});
            }.bind(this),
            error: function(xhr, status, err) {
              console.error(this.props.journal_url, status, err.toString());
            }.bind(this)
          });
        },
        getInitialState: function() {
          return {
            objectives: [],
            journals: [],
            display_page: this.props.display_page
          };
        },
        componentDidMount: function() {
          this.loadDataFromServer();
        },
        render: function() {
          var displayList;
          if (this.props.display_page == 'Objectives') {
            displayList = <ObjectiveList data={this.state.objectives} />;
          } else {
            displayList = <JournalList data={this.state.journals} />;
          }
          return (
            <div className='col-sm-offset-1 col-md-offset-1 col-md-10 col-sm-10 main'>
              <div className='table-responsive'>
                {displayList}
              </div>
            </div>
          );
        }
      });

      var ObjectiveList = React.createClass({
        render: function() {
          var objectiveItem = this.props.data.map(function(objective) {
            return (
              <tr key={objective.id}>
                <td><a href={'/objective/' + objective.objective_id}>{objective.objective}</a></td>
                <td><a href={'/location/city/' + objective.city_id}>{objective.city}</a></td>
                <td><a href={'/objective/state/' + objective.state_id}>{objective.state}</a></td>
              </tr>
            );
          });
          return (
            <table className='table'>
              <thead>
                <tr>
                  <th><span>Objective</span></th>
                  <th><span>City</span></th>
                  <th><span>State</span></th>
                </tr>
              </thead>
              <tbody>
                {objectiveItem}
              </tbody>
            </table>
          );
        }
      });

      var JournalList = React.createClass({
        render: function() {
          var journalItem = this.props.data.map(function(journal) {
            return (
              <tr key={journal.id}>
                <td><a href={'/journal/' + journal.journal_id}>{journal.journal}</a></td>
                <td><a href={'/objective/' + journal.objective_id}>{journal.objective}</a></td>
                <td><a href={'/author/' + journal.author_id}>{journal.author}</a></td>
              </tr>
            );
          });
          return (
            <table className='table'>
              <thead>
                <tr>
                  <th><span>Journal</span></th>
                  <th><span>Objective</span></th>
                  <th><span>Author</span></th>
                </tr>
              </thead>
              <tbody>
                {journalItem}
              </tbody>
            </table>
          );
        }
      });

      var MissionPage = React.createClass({
        render: function() {
          var imgUrl = '/images/city.jpg'
          var cityStyle = {
            backgroundImage: 'url(' + imgUrl + ')'
          };
          return (
            <div>
              <Header />
              <div className='row'>
                <div style={cityStyle} alt="city" className='city-image'></div>
                <SidebarRight display={['Objectives', 'Journals']} />
              </div>
            </div>
          );
        }
      });

      React.renderComponent(<MissionPage />, document.getElementById('content'));
      
    </script>
{% endblock %}
