{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container-fluid" id="content"></div>
{% endblock %}
{% block script %}
  {% parent %}
    <script type="text/jsx">
      /** @jsx React.DOM */

      var sidebar_left;

      var Header = React.createClass({
        handleUserClick: function(event) {
          sidebar_left = !sidebar_left;
          if (sidebar_left) {
            $( ".sidebar-left" ).show();
          } else {
            $( ".sidebar-left" ).hide();
          }
        },
        render: function() {
          return (
              <div className='row header'>
              <div className='user'>
                <span className='user-btn glyphicon glyphicon-user' onClick={this.handleUserClick}></span>
                <span className='header-text'><a>Log In</a></span>
                <span className='header-text'><a>Sign Up</a></span>
              </div>
              <div className='globe'>
                <span className='globe-btn glyphicon glyphicon-globe'></span>
                <span className='header-text'>
                  <a href={'/objective/{{ id }}'}>{{ objective }} / </a>
                  <a href={'/location/city/{{ city_id }}'}>{{ city }} / </a>
                  <a href={'/location/state/{{ state_id }}'}>{{ state }}</a>
                </span>
              </div>
            </div>
          );
        }
      });

      var SidebarLeft = React.createClass({
        render: function() {
          return (
            <div className='sidebar-left sidebar'>
              <ul>
                <li className='create-mission-btn'>
                  <span className='glyphicon glyphicon-plus'></span>
                </li>
              </ul>
            </div>
          );
        }
      });

      var JournalTable = React.createClass({
        loadJournalsFromServer: function() {
          $.ajax({
            url: this.props.url,
            dataType: 'json',
            success: function(data) {
              this.setState({data: data});
            }.bind(this),
            error: function(xhr, status, err) {
              console.error(this.props.url, status, err.toString());
            }.bind(this)
          });
        },
        getInitialState: function() {
          return {data: []};
        },
        componentDidMount: function() {
          this.loadJournalsFromServer();
        },
        render: function() {
          return (
            <div className='col-sm-offset-1 col-md-offset-1 col-md-10 col-sm-10 main'>
              <div className='table-responsive'>
                <table className='table'>
                  <thead>
                    <tr>
                      <th>
                        <span>Journal</span>
                      </th>
                      <th>
                        <span>Author</span>
                      </th>
                    </tr>
                  </thead>
                    <JournalList data={this.state.data} />
                </table>
              </div>
            </div>
          );
        }
      });

      var JournalList = React.createClass({
        render: function() {
          var journalItem = this.props.data.map(function(journal) {
            return (
              <tr key={journal.id}>
                <td><a href={'/journal/' + journal.journal_id}>{journal.journal}</a></td>
                <td><a href={'/author/' + journal.author_id}>{journal.author}</a></td>
              </tr>
            );
          });
          return (
            <tbody>
              {journalItem}
            </tbody>
          );
        }
      });

      var ObjectivePage = React.createClass({
        render: function() {
          var imgUrl = '/images/city.jpg'
          var cityStyle = {
            backgroundImage: 'url(' + imgUrl + ')',
            height: '400px',
            width: '100%',
            backgroundPosition: 'center',
            /* Make the background image cover the area of the <div>, and clip the excess */
            backgroundSize: 'cover'
          };
          return (
            <div>
              <Header />
              <div className='row'>
                <SidebarLeft />
                <div style={cityStyle} alt="city" className='city-image'></div>
                <JournalTable url="/api/1/getJournal/objective/{{ id }}" />
              </div>
            </div>
          );
        }
      });

      React.renderComponent(<ObjectivePage />, document.getElementById('content'));
      
    </script>
{% endblock %}
