.header {
  background-color: #000;
  height: 60px;
}
.header .user {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 60px;
  width: 60px;
  color: #ddd;
  text-align: center;
  padding-top: 20px;
  font-size: 20px
}
.header .user:hover {
  cursor:pointer;
  color: #ccc;
}
.header .globe {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 60px;
  width: 60px;
  color: #ddd;
  text-align: center;
  padding-top: 20px;
  font-size: 20px
}
.header .globe:hover {
  cursor:pointer;
  color: #ccc;
}
.sidebar-right {
  position: fixed;
  width: 60px;
  top: 60px;
  bottom: 0;
  right: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #ddd;
  display: none;
}
.sidebar-left {
  position: fixed;
  width: 60px;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #ddd;
  display: none;
}
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar ul li {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidebar ul li:hover {
  cursor:pointer;
  background-color: #ccc;
}
.sidebar ul li span {
  color: #000;
  font-size: 20px
}
.add-mission {
  position: fixed;
  width: 400px;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 900;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #aaa;
  display: none;
}
.add-mission .cancel-mission-btn {
  color: #fff;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
}
.add-mission .cancel-mission-btn:hover {
  cursor:pointer;
  color: #ddd;
}
.add-mission .container {
  width: 360px;
  margin-left: 20px;
  text-align: center;
}
.add-mission .container h2 {
  color: #fff;
}
.add-mission .container input {
  width: 100%;
  margin-top: 20px;
}
.add-mission .container button {
  width: 100%;
  margin-top: 20px;
}

